Source: rootactions-servicemenu
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: rootactions-servicemenu
Architecture: all
Depends: perl, kdesudo, dolphin, kate
Description: A Root actions service menu in dolphin and konquor
 A Root actions service menu in dolphin and konquor
